:root{
    --font1:"Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --indigo:#8250f8;
    --dark:black;
    --dark2:#303030;
    --dark-white:#eeeeee;
    --lightwhite:#f3f3f3;
    --subtitle-size:15px;
    --secondary:#696868;
}
body{
    font-family: var(--font1);
}
a{
    color:var(--indigo);
    text-decoration: none;
}
.path{
    background-color: var(--lightwhite);
    font-family: var(--font);
    font-size:var(--subtitle-size);
}
.filter-container{
    width:30%;
}
.categories-gender{
    width:100%;
}
ul{
    list-style: none;
    padding-left:0px;
    a{
        color:var(--dark);
    }
}
.btn-secondary{
    background-color: var(--dark-white) !important; 
    border:none;
    color:var(--dark);
    font-size:14px !important; 
    padding:10px 20px !important;
    margin-top:3px;
    border-radius: 5px !important;
}
.dark-btn{
    background-color: var(--dark2) !important;
    color:var(--lightwhite) !important;
}
.dark-btn:hover{
    color:var(--lightwhite) !important;
    box-shadow:1px 1px 10px var(--dark2);
    margin-top:0px;
}
.btn-secondary:hover{
    color:var(--dark) !important;
    box-shadow:1px 1px 10px var(--dark2);
    margin-top:0px;
}
.drop-btns{
    width:28%;
}
.grid-container{
    width:100%;
    text-align: center;
    h5{
        font-weight: light;
    }
}
.product-grid img{
    width:100%;
}
.product-item{
    border:1px solid var(--dark-white);
    /* border-radius: 5px; */
    width:30%;
    margin:auto 13px;
}
.product-name{
    margin:20px auto;
}
.row>*{
    padding:0px !important;
}
.row{
    grid-gap:2px !important;
    padding-right:0px;
}
.page-item{
    border-radius:50%;
    height:37px;
    width:37px;
    color:var(--indigo);
}
.page-item:hover{
    background-color: var(--indigo);
    color:var(--lightwhite);
}
.page1{
    background-color: var(--indigo);
    color:var(--lightwhite);
}
.fs-7{
    font-size:12px;
}
.collection-grid .row{
    gap:30px !important;
}
.collection-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 30%;
    margin-bottom: 15px;
    cursor: pointer;
}
.collection-item:hover{
    background-size: 115%;
}
.col-item-1{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url('product-img/women.jpg');
}
.col-item-2{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url('product-img/men.jpg');
}
.col-item-3{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url('product-img/children.jpg');
}
.collection-name {
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.collection-hr{
    border: none;
    height: 3px;
    background-color: #2f00ff;
    width: 40px;
    margin-left:150px;
}